/*body{
    background-color: #D3E4CD;
}

button{
    width: 150px;
    border-radius: 20px;
    background-color: rgba(209, 209, 196, 0.856);
    border-color: transparent;
    margin: 5px;
}

select{
    margin: 5px;
    background-color: rgba(209, 209, 196, 0.856);
    border-radius: 20px;
}

input{
    margin: 5px;
    background-color: rgba(125, 126, 139, 0.787);
    border-radius: 20px;
}

form{
    border: 1px;
    border-color: black;
    background-color: #84A9AC;
}

tr, td {
    border: 1px solid;
}

td{
    padding: 0.8rem 1.6rem;
}

.carList{
    margin-left: 5%;
    width: 90%;
    border: 1px solid;
    background-color: #84A9AC;
    border-collapse: collapse;
    text-align: left;
}

.headerCar{
    padding: 0.75rem 2rem;
    background-color: #5588A3;
}*/